[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dash = {extras = ["testing"], version = "*"}
plotly = "*"
plotly-express = "*"

[dev-packages]

[requires]
python_version = "3.10"
